<template>
  <div class="home">
    <nut-cell :show-icon="true" title="我是标题" sub-title="我是副标题" desc="展示默认ICON">
      <div slot="avatar">
        <nut-avatar size="large" shape="square" />
      </div>
    </nut-cell>
  </div>
</template>

<script>
import api from '@/api'

export default {
  name: "Home",
  components: {},
  created() {
    this.getPavList()
  },
  methods: {
    // 获取分馆信息
    async getPavList() {
      let res = await api.getPavilionList()
      console.log(res)
    }
  }
};
</script>

<style lang="scss" scoped>


</style>

